services:
  aletis:
    build: ./
    ports:
      - 8089:8080
    env_file:
      - .env
    environment:
      # Required
      # See https://searx.space/ for public instances
      # Or host your own https://docs.searxng.org/
      SEARXNG_HOST: "searxng.example.com"
      POSTGRES_HOST: "db"
      POSTGRES_PORT: 5432
      POSTGRES_DATABASE: "aletis"
      POSTGRES_USERNAME: "aletis"
      POSTGRES_PASSWORD: "${POSTGRES_PASSWORD}"
      # # Defaults
      # PORT: 8080
      # PUBLIC: true
      # AI_ENABLED: false
      # # Required if AI_ENABLED == true
      # OPENAI_URL: "https://openrouter.ai/api/v1"
      # OPENAI_API_KEY: "Key-Here"
    depends_on:
      - db

  db:
    image: postgres:18-alpine
    env_file:
      - .env
    volumes:
      - "./data/postgres:/var/lib/postgresql/18/docker:z"
    expose:
      - 5432
    restart: always
    environment:
      POSTGRES_USER: "aletis"
      POSTGRES_DB: "aletis"
      POSTGRES_PASSWORD: "${POSTGRES_PASSWORD}"
