services:
  aletis:
    build: ./
    ports:
      - 8089:8080
    environment:
      # Required See https://searx.space/ for public instances
      # Or host your own https://docs.searxng.org/
      SEARXNG_HOST: "searxng.example.com"

      # # Defaults
      # PORT: 8080
      # PUBLIC: true
      # AI_ENABLED: false
      # # Required if AI_ENABLED == true
      # OPENAI_URL: "https://openrouter.ai/api/v1"
      # OPENAI_API_KEY: "Key-Here"
